html {
  height: 100%;
}
body {
  min-height: 100%;
  margin: 0;
  padding: 0;
}
  
.bg {
    background: url("img/1.jpg") no-repeat center center fixed; 
    background-size: cover;
}

#logo{
  height: 50px;
  margin-bottom: 10px;
}

#book-logo{
  height: 60px;
}

/*------ICONS-----------*/

.fa-home{
  color: #36b8f448;
  margin-right: 50px;
}

.fa-comments{
  color: #f44336;
}

.fa-readme{
  color: #cddc39;
}

.fa-book{
  color: #6b5305;
}

.fa-heart{
  color: rgb(255, 0, 255);
}

.fa-bookmark{
  color: rgb(47, 0, 255);
}

.fa-shopping-cart{
  color: #ff9800;
}

.fa-pen-fancy{
  color: #03a9f4;
}

.fa-envelope{
  color: red;
}

.fa-user{
  color: #9c27b0;
}

.fa-link{
  color: #673ab7;
}

.fa-user-times{
  color: red;
}

.fa-facebook{
padding-right: 2px;
color: #0e587a
}

.fa-twitter{
  padding-right: 2px;
  color: #77d4ff
}

.fa-instagram{
    padding-right: 2px;
    color: #b68c03
  }

/*------HOMEPAGE-----------*/

.cont{
  min-height: calc(100vh - 70px);
}

.carousel-item {
  min-height: 90vh;
  background: no-repeat center center scroll;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}

.home-title{	
  font-size: 5.2rem;
  letter-spacing: 1px;
  }

.home-sub{
    font-size: 1.8rem;
    color: rgb(0, 0, 0)
  }

.box-hide{
  position: absolute;
	z-index: 1;
  width: 100%;
  font-family: 'Poiret One', cursive;
  display: flex;
  flex-direction: column;
  height: auto;
  width: 100%;
  background: #ffffff00;
  padding: 50px;
  box-shadow: 0px -18px 15px rgba(0, 0, 0, 0.200);
}

.box-title{
  padding: 20px;
  width: auto;
  background: #ffffffcb;
  margin-left: auto;
  margin-right: auto;
  border-radius: 15px;
  box-shadow: 0px 0px 25px white;
}

.lecture {
  text-align: center;
  -webkit-transform-style: preserve-3d;
  transform-style: preserve-3d;
  perspective: 800px;
  position: absolute;
  bottom : 250px;
  z-index: 2;
  width: 100%;
}

.tchat{
  min-height: 800px;
}

.tchat-title{
  margin-top: 5px;
  text-align: center;
}

.tchat-sub{
  text-align: center;
}

.tchat-btn{
position: absolute;
right: 30%;
top : 1600px;
-webkit-transform-style: preserve-3d;
transform-style: preserve-3d;
perspective: 800px;
}

.tchat-img{
  position: relative;
  height: 600px;
  right: 30%;
}

.com{
  min-height: 800px;
}
.com-title{
  margin-top: 5px;
  text-align: center;
}

.com-sub{
  text-align: center;
}

.com-btn{
  position: absolute;
  left: 20%;
  bottom : -1500px;
  -webkit-transform-style: preserve-3d;
  transform-style: preserve-3d;
  perspective: 800px;
}

.com-img{
  position: relative;
  height: 600px;
  margin-top: 50px;
  left: 40%;
}

/*----------------TCHAT-PAGE-----------*/

.tchat-pseudo{
  font-size: 1.5em;
  font-family: 'Quicksand', sans-serif;
}

.tchat-mess{
font-family: 'Quicksand', sans-serif;
letter-spacing: 1px;
}

/*----------------BOOK-PAGE-----------*/

.panel{
  width: auto;
  background: #ffffffb9;
  margin-left: auto;
  margin-right: auto;
  border-radius: 15px;
  box-shadow: 0px 0px 25px rgb(255, 255, 255);
  padding: 10px;
}

.books{
  min-height: 300px;
  box-shadow: 0px 0px 15px rgb(255, 0, 0);
  padding: 10px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.Billet{
  background-image: url('https://images4.alphacoders.com/132/132008.jpg');
  background-position: center;
  background-repeat: no-repeat; 
  background-size: cover; 
}

.Spectre{
  background-image: url('https://digitalart.io/storage/artworks/281/Gods-of-Land-vs-Water-Epic-Wallpaper.jpeg');
  background-position: center;
  background-repeat: no-repeat; 
  background-size: cover; 
}

.Rencontre{
  background-image: url('https://images6.alphacoders.com/492/492493.jpg');
  background-position: center;
  background-repeat: no-repeat; 
  background-size: cover; 
}

/*----------------JEAN-PAGE-----------*/

.prez{
  background: rgba(0, 0, 0, 0.479);
  border-radius: 15px;
  padding: 50px;
  box-shadow: 0px 0px 15px black;
}

.jean{
  background-image: url('/forteroche/public/img/jean.jpg');
  background-position: center;
  background-repeat: no-repeat; 
  background-size: cover;
}

.panel-jean{
  width: auto;
  background: #ffffffb9;
  margin-left: auto;
  margin-right: auto;
  border-radius: 15px;
  box-shadow: 0px 0px 25px rgb(255, 255, 255);
  padding: 30px;
}

/*----------------CONTACT-PAGE-----------*/

.contact-box{
  max-width : 800px;
  margin-left: auto;
  margin-right: auto;
}

.contact{
  padding-top: 50px;
  padding-bottom: 100px;
  max-width : 600px;
  margin-left: auto;
  margin-right: auto;
}

/*----------------CONNECT-PAGE-----------*/

.connect-box{
  margin-top: 80px;
  margin-bottom: 80px;
  max-width : 600px;
  margin-left: auto;
  margin-right: auto;
}

.connect{
  padding-top: 50px;
  padding-bottom: 100px;
  max-width : 300px;
  margin-left: auto;
  margin-right: auto;
}

/*----------------CREATE-PAGE-----------*/

.create-box{
  margin-top: 80px;
  margin-bottom: 80px;
  max-width : 600px;
  margin-left: auto;
  margin-right: auto;
}

.create{
  padding-top: 50px;
  padding-bottom: 100px;
  max-width : 300px;
  margin-left: auto;
  margin-right: auto;
}



/*-----------FOOTER ANIMATED----------*/

#footer{
  animation: flow 10s ease-in-out infinite;
  background: linear-gradient(to right, #12c2e9, #c471ed, #f64f59);
  background-size: 300%;
  font-family: 'Poiret One', cursive;
  box-shadow: 0px 0px 20px rgba(0, 0, 0, 0.651);
  color: white;
  letter-spacing: 1px;
}

.p4{
  text-shadow: 1px 1px 2px rgb(255, 255, 255), 0 0 1em rgb(0, 0, 0), 0 0 0.2em rgb(0, 0, 0);
}

@keyframes flow {
  0%{
    background-position: 0 50%;
  }

  50%{
    background-position: 100% 50%;
  }

  100%{
    background-position: 0 50%;
  }

}


/*----------- GRADIENT ANIMATION EFFECT----------*/

.gradient{
  animation: flow 10s ease-in-out infinite;
  background: linear-gradient(to right, #12c2e9, #c471ed, #f64f59);
  background-size: 300%;
  -webkit-background-clip: text;
  background-clip: text;
  -webkit-text-fill-color: transparent;
}

@keyframes flow {
  0%{
    background-position: 0 50%;
  }

  50%{
    background-position: 100% 50%;
  }

  100%{
    background-position: 0 50%;
  }

}

/*-----------LOADING ANIMATION EFFECT----------*/
.loader {
  display: inline-block;
  width: 30px;
  height: 30px;
  position: relative;
  border: 4px solid #Fff;
  animation: loader 2s infinite ease;
}

.loader-wrapper {
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  background-color: #242f3f;
  display:flex;
  justify-content: center;
  align-items: center;
}

.loader-inner {
  vertical-align: top;
  display: inline-block;
  width: 100%;
  background-color: #fff;
  animation: loader-inner 2s infinite ease-in;
}

.loader-lecture {
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  background-color: #242f3f85;
  display:flex;
  justify-content: center;
  align-items: center;
}

@keyframes loader {
  0% {
    transform: rotate(0deg);
  }
  
  25% {
    transform: rotate(180deg);
  }
  
  50% {
    transform: rotate(180deg);
  }
  
  75% {
    transform: rotate(360deg);
  }
  
  100% {
    transform: rotate(360deg);
  }
}

@keyframes loader-inner {
  0% {
    height: 0%;
  }
  
  25% {
    height: 0%;
  }
  
  50% {
    height: 100%;
  }
  
  75% {
    height: 100%;
  }
  
  100% {
    height: 0%;
  }
}

/*---------------FANCY BUTTON-----------*/

.bg-gradient1 .span,
.bg-gradient1:before {
  background: #52A0FD;
  background: -webkit-gradient(linear, left top, right top, from(#52A0FD), color-stop(80%, #00e2fa), to(#00e2fa));
  background: linear-gradient(to right, #52A0FD 0%, #00e2fa 80%, #00e2fa 100%);
}

.bg-gradient2 .span,
.bg-gradient2:before {
  background: #44ea76;
  background: -webkit-gradient(linear, left top, right top, from(#44ea76), color-stop(80%, #39fad7), to(#39fad7));
  background: linear-gradient(to right, #44ea76 0%, #39fad7 80%, #39fad7 100%);
}

.bg-gradient3 .span,
.bg-gradient3:before {
  background: #fa6c9f;
  background: -webkit-gradient(linear, left top, right top, from(#fa6c9f), color-stop(80%, #ffe140), to(#ffe140));
  background: linear-gradient(to right, #fa6c9f 0%, #ffe140 80%, #ffe140 100%);
}

a {
  text-decoration: none;
}

a:hover, a:focus, a:active {
  text-decoration: none;
}

.fancy-button {
  display: inline-block;
  font-family: 'Poiret One', cursive, Helvetica, Arial, sans-serif;
  font-size: 17px;
  letter-spacing: 2px;
  color: #ffffff;
  position: relative;
}

.fancy-button:before {
  content: '';
  display: inline-block;
  height: 40px;
  position: absolute;
  bottom: -5px;
  left: 30px;
  right: 30px;
  z-index: -1;
  border-radius: 30em;
  -webkit-filter: blur(20px) brightness(0.95);
          filter: blur(20px) brightness(0.95);
  -webkit-transform-style: preserve-3d;
          transform-style: preserve-3d;
  -webkit-transition: all 0.3s ease-out;
  transition: all 0.3s ease-out;
}

.fancy-button i {
  margin-top: -1px;
  margin-right: 20px;
  font-size: 1.265em;
  vertical-align: middle;
}

.fancy-button .span {
  display: inline-block;
  padding: 18px 60px;
  border-radius: 50em;
  position: relative;
  z-index: 2;
  will-change: transform, filter;
  -webkit-transform-style: preserve-3d;
          transform-style: preserve-3d;
  -webkit-transition: all 0.3s ease-out;
  transition: all 0.3s ease-out;
}

.fancy-button:focus, .fancy-button:active {
  color: #ffffff;
}

.fancy-button:hover {
  color: #ffffff;
}

.fancy-button:hover .span {
  -webkit-filter: brightness(1.05) contrast(1.05);
          filter: brightness(1.05) contrast(1.05);
  -webkit-transform: scale(0.95);
          transform: scale(0.95);
}

.fancy-button:hover:before {
  bottom: 0;
  -webkit-filter: blur(10px) brightness(0.95);
          filter: blur(10px) brightness(0.95);
}

.fancy-button.pop-onhover:before {
  opacity: 0;
  bottom: 10px;
}

.fancy-button.pop-onhover:hover:before {
  bottom: -7px;
  opacity: 1;
  -webkit-filter: blur(20px);
          filter: blur(20px);
}

.fancy-button.pop-onhover:hover .span {
  -webkit-transform: scale(1.04);
          transform: scale(1.04);
}

.fancy-button.pop-onhover:hover:active .span {
  -webkit-filter: brightness(1) contrast(1);
          filter: brightness(1) contrast(1);
  -webkit-transform: scale(1);
          transform: scale(1);
  -webkit-transition: all 0.15s ease-out;
  transition: all 0.15s ease-out;
}

.fancy-button.pop-onhover:hover:active:before {
  bottom: 0;
  -webkit-filter: blur(10px) brightness(0.95);
          filter: blur(10px) brightness(0.95);
  -webkit-transition: all 0.2s ease-out;
  transition: all 0.2s ease-out;
}